importFrom("graphics", "abline", "legend", "lines", "par", "plot")
importFrom("stats", "cor", "filter", "lm")
importFrom("tibble", "as.tibble")
importFrom("magrittr","%>%")
importFrom("googlesheets", "gs_read", "gs_url")
importFrom("forecast", "ma")
export(updating_heartRate)
export(target_ranges)
export(plot_stressed)
export(plot_cor)
export(plot_lms)
